In [2]:
## IE313 Assignment 3

In [26]:
import pandas as pd
import numpy as np
from pulp import *
from itertools import product
import time

In [3]:
karayollari = pd.read_excel('TR81_KGM.xls', index_col=1)
df = karayollari.copy()
city_df = df.iloc[:,1:-2]
city_df.head()

,ADANA,ADIYAMAN,AFYON,AĞRI,AMASYA,ANKARA,ANTALYA,ARTVİN,AYDIN,BALIKESİR,...,BATMAN,ŞIRNAK,BARTIN,ARDAHAN,IĞDIR,YALOVA,KARABÜK,KİLİS,OSMANİYE,DÜZCE
İL ADI,,,,,,,,,,,,,,,,,,,,,
ADANA,NaN,333.0,573.0,965.0,611.0,490.0,558.0,1034.0,883.0,897.0,...,618.0,717.0,769.0,1038.0,1068.0,893.0,701.0,246.0,87.0,722.0
ADIYAMAN,333.0,NaN,906.0,648.0,634.0,755.0,891.0,755.0,1216.0,1230.0,...,301.0,480.0,1038.0,759.0,751.0,1162.0,970.0,209.0,246.0,991.0
AFYON,573.0,906.0,NaN,1311.0,590.0,256.0,292.0,1237.0,346.0,324.0,...,1191.0,1290.0,515.0,1346.0,1421.0,341.0,447.0,819.0,660.0,375.0
AĞRI,965.0,648.0,1311.0,NaN,738.0,1055.0,1432.0,397.0,1645.0,1571.0,...,369.0,426.0,1173.0,310.0,143.0,1363.0,1104.0,815.0,878.0,1192.0
AMASYA,611.0,634.0,590.0,738.0,NaN,334.0,826.0,695.0,932.0,833.0,...,800.0,982.0,435.0,779.0,848.0,625.0,366.0,666.0,629.0,454.0

In [59]:
def check_symmetric(a, rtol=1e-05, atol=1e-08):
    import numpy
    return numpy.allclose(a, a.T, rtol=rtol, atol=atol)

check_symmetric(city_df.values) # Matrix is not symmetric

False

In [197]:
# Change city names with city codes.

city_names = df.index

city_df.index = np.arange(1,82)
city_df.columns = np.arange(1,82)

In [198]:
# Keep city_code - city_name pairs

city_code_dict = dict(zip(np.arange(1,len(city_names)+1),city_names))

In [199]:
# Select 15 cities

cities = np.arange(1,82)

In [200]:
costs = city_df.copy()
max_cost = costs.max().max()
costs = costs.fillna(100*max_cost)
n = len(cities)

In [201]:
cost = costs.loc[cities,cities]

In [225]:
#Define model objective, variables and constraints

prob = LpProblem(name="TSP_TR_Problem", sense=LpMinimize)


roads = [(i,j) for i in cities for j in cities]

variables = LpVariable.dicts("Road", (cities, cities), 0, 1, LpInteger) # Arc Variables

nodes = {}

for i in cities:  # Order Variables
    nodes[i] = LpVariable(f'u{i}', 1, len(cities), LpInteger)

In [226]:
# The objective function is added to 'prob' first
prob += (
    lpSum([variables[i][j] * cost.loc[i,j] for (i, j) in roads]),
    "Sum_of_Transporting_Costs",
)

In [227]:
# Vehicles should exit from the city exactly once
for i in cities:
    prob += (lpSum([variables[i][j] for j in cities]) >= 1,
             "Exit_From_City_%s" %i
            )

In [228]:
# Vehicles should enter the city exactly once
for i in cities:
    prob += (
        lpSum([variables[j][i] for j in cities]) >= 1,
        "Enter_To_City_%s" % i,
    )

In [229]:
# No paired subtours allowed
for i in cities:
    for j in cities:
        prob+= (variables[i][j]+variables[j][i]<=1)

In [230]:
# # Subtour Constraints
# for (i,j) in product(cities, cities):
#     if (i!=cities[0]) and (j!=cities[0]):
#         prob+=(
#         nodes[i] - nodes[j] + (n-1)*variables[i][j] + (n-3)*variables[j][i] <= n-2, f"{i}_{j}_subtour_constraint")

In [231]:
# Subtours encountered
# subtour1=[10,17,22,39,59,34,41,54,77,16,11,26,43,3,64,20,48,9,35,45]
#subtour2=[10,17,22,39,59,34,41,14,81,54,77,16,11,26,43,3,64,20,48,9,35,45]

In [232]:
subtour1=[10,17,22,39,59,34,41,54,77,16,11,26,43,3,64,20,48,9,35,45]
subtour2=[10,17,22,39,59,34,41,14,81,54,77,16,11,26,43,3,64,20,48,9,35,45]
subtour3=[10,45,35,9,48,20,7,15,32,64,3,43,26,11,16,77,41,54,34,59,39,22,17]
subtour4=[10, 17, 22, 39, 59, 34, 41, 67, 74, 78, 14, 81, 54, 77, 16, 11, 26, 43, 3, 64, 32, 15, 7, 20, 48, 9, 35, 45]
subtour_log = [] # Keep the codes of the cities that were previously in a subtour

subtours = [subtour1, subtour2, subtour3, subtour4]

for subtour in subtours:
    for i in subtour:
        for j in subtour:      
            if i!=j and not ((i in subtour_log) and (j in subtour_log)):
                prob += (nodes[i] - nodes[j] + (n-1)*variables[i][j] + (n-3)*variables[j][i] <= n-2, f"{i}_{j}_subtour_constraint")
    subtour_log.extend(subtour)

In [ ]:
start = time.time()

prob.solve()

print(time.time()-start, "seconds passed")

In [ ]:
LpStatus[prob.status]

In [212]:
final_result = []

In [213]:
t=0
for v in prob.variables():
    if v.varValue==1:
        final_result.append(v.name)

In [214]:
final_result

['Road_10_17',
 'Road_11_26',
 'Road_12_49',
 'Road_13_65',
 'Road_14_81',
 'Road_15_7',
 'Road_16_11',
 'Road_17_22',
 'Road_18_37',
 'Road_19_66',
 'Road_1_33',
 'Road_20_48',
 'Road_21_47',
 'Road_22_39',
 'Road_23_62',
 'Road_24_58',
 'Road_25_69',
 'Road_26_43',
 'Road_27_46',
 'Road_28_61',
 'Road_29_24',
 'Road_2_44',
 'Road_30_73',
 'Road_31_79',
 'Road_32_15',
 'Road_33_80',
 'Road_34_41',
 'Road_35_45',
 'Road_36_76',
 'Road_37_57',
 'Road_38_50',
 'Road_39_59',
 'Road_3_64',
 'Road_40_71',
 'Road_41_67',
 'Road_42_70',
 'Road_43_3',
 'Road_44_23',
 'Road_45_10',
 'Road_46_31',
 'Road_47_63',
 'Road_48_9',
 'Road_49_13',
 'Road_4_25',
 'Road_50_68',
 'Road_51_38',
 'Road_52_28',
 'Road_53_8',
 'Road_54_77',
 'Road_55_52',
 'Road_56_72',
 'Road_57_55',
 'Road_58_60',
 'Road_59_34',
 'Road_5_19',
 'Road_60_5',
 'Road_61_53',
 'Road_62_12',
 'Road_63_2',
 'Road_64_32',
 'Road_65_30',
 'Road_66_40',
 'Road_67_74',
 'Road_68_42',
 'Road_69_29',
 'Road_6_18',
 'Road_70_51',
 'Road_71_6',
 'Road_72_21',
 'Road_73_56',
 'Road_74_78',
 'Road_75_36',
 'Road_76_4',
 'Road_77_16',
 'Road_78_14',
 'Road_79_27',
 'Road_7_20',
 'Road_80_1',
 'Road_81_54',
 'Road_8_75',
 'Road_9_35']

In [215]:
source = []
destination = []
final_pairs = []

In [216]:
for i in final_result:
    if len(i)>5:
        a, b, c = i.split('_')
        source.append(b)
        destination.append(c)
        
for i in final_result:
    if len(i)>5:
        a, b, c = i.split('_')
        final_pairs.append([b,c])

In [217]:
# Check if there exist a loop arc

for i in range(0,len(source)):
    if source[i]==destination[i]:
        print('Loop arc exists')

In [218]:
print("# of source cities: ", len(set(source)))
print("# of destination cities: ", len(set(destination)))

# of source cities:  81
# of destination cities:  81

In [219]:
final_pairs

[['10', '17'],
 ['11', '26'],
 ['12', '49'],
 ['13', '65'],
 ['14', '81'],
 ['15', '7'],
 ['16', '11'],
 ['17', '22'],
 ['18', '37'],
 ['19', '66'],
 ['1', '33'],
 ['20', '48'],
 ['21', '47'],
 ['22', '39'],
 ['23', '62'],
 ['24', '58'],
 ['25', '69'],
 ['26', '43'],
 ['27', '46'],
 ['28', '61'],
 ['29', '24'],
 ['2', '44'],
 ['30', '73'],
 ['31', '79'],
 ['32', '15'],
 ['33', '80'],
 ['34', '41'],
 ['35', '45'],
 ['36', '76'],
 ['37', '57'],
 ['38', '50'],
 ['39', '59'],
 ['3', '64'],
 ['40', '71'],
 ['41', '67'],
 ['42', '70'],
 ['43', '3'],
 ['44', '23'],
 ['45', '10'],
 ['46', '31'],
 ['47', '63'],
 ['48', '9'],
 ['49', '13'],
 ['4', '25'],
 ['50', '68'],
 ['51', '38'],
 ['52', '28'],
 ['53', '8'],
 ['54', '77'],
 ['55', '52'],
 ['56', '72'],
 ['57', '55'],
 ['58', '60'],
 ['59', '34'],
 ['5', '19'],
 ['60', '5'],
 ['61', '53'],
 ['62', '12'],
 ['63', '2'],
 ['64', '32'],
 ['65', '30'],
 ['66', '40'],
 ['67', '74'],
 ['68', '42'],
 ['69', '29'],
 ['6', '18'],
 ['70', '51'],
 ['71', '6'],
 ['72', '21'],
 ['73', '56'],
 ['74', '78'],
 ['75', '36'],
 ['76', '4'],
 ['77', '16'],
 ['78', '14'],
 ['79', '27'],
 ['7', '20'],
 ['80', '1'],
 ['81', '54'],
 ['8', '75'],
 ['9', '35']]

In [220]:
route = ['10']

for i in range(0,80):
    for j in final_pairs:
        if j[0]==route[-1]:
            route.append(j[1])
            break

In [221]:
len(np.unique(np.array(route))) # Check if len==81. If not, subtour exists.

28

In [222]:
np.array(route)

array(['10', '17', '22', '39', '59', '34', '41', '67', '74', '78', '14',
       '81', '54', '77', '16', '11', '26', '43', '3', '64', '32', '15',
       '7', '20', '48', '9', '35', '45', '10', '17', '22', '39', '59',
       '34', '41', '67', '74', '78', '14', '81', '54', '77', '16', '11',
       '26', '43', '3', '64', '32', '15', '7', '20', '48', '9', '35',
       '45', '10', '17', '22', '39', '59', '34', '41', '67', '74', '78',
       '14', '81', '54', '77', '16', '11', '26', '43', '3', '64', '32',
       '15', '7', '20', '48'], dtype='<U2')

In [224]:
subtour4=[10, 17, 22, 39, 59, 34, 41, 67, 74, 78, 14, 81, 54, 77, 16, 11, 26, 43, 3, 64, 32, 15, 7, 20, 48, 9, 35, 45]

# Visualization on the map

In [252]:
# api_key
api_key = 'AIzaSyAsvARN081dfw2VDq2MaTBPb8PgAc3jiB8'

html = 'https://roads.googleapis.com/v1/snapToRoads?path=-35.27801,149.12958|-35.28032,149.12907|-35.28099,149.12929|-35.28144,149.12984|-35.28194,149.13003|-35.28282,149.12956|-35.28302,149.12881|-35.28473,149.12836 &interpolate=true &key=AIzaSyAsvARN081dfw2VDq2MaTBPb8PgAc3jiB8'

In [251]:
import urllib.request