In [341]:
## IE313 Assignment 3

In [342]:
import pandas as pd
import numpy as np
from pulp import *
from itertools import product

In [343]:
karayollari = pd.read_excel('TR81_KGM.xls', index_col=1)
df = karayollari.copy()
city_df = df.iloc[:,1:-2]
city_df.head()

,ADANA,ADIYAMAN,AFYON,AĞRI,AMASYA,ANKARA,ANTALYA,ARTVİN,AYDIN,BALIKESİR,...,BATMAN,ŞIRNAK,BARTIN,ARDAHAN,IĞDIR,YALOVA,KARABÜK,KİLİS,OSMANİYE,DÜZCE
İL ADI,,,,,,,,,,,,,,,,,,,,,
ADANA,NaN,333.0,573.0,965.0,611.0,490.0,558.0,1034.0,883.0,897.0,...,618.0,717.0,769.0,1038.0,1068.0,893.0,701.0,246.0,87.0,722.0
ADIYAMAN,333.0,NaN,906.0,648.0,634.0,755.0,891.0,755.0,1216.0,1230.0,...,301.0,480.0,1038.0,759.0,751.0,1162.0,970.0,209.0,246.0,991.0
AFYON,573.0,906.0,NaN,1311.0,590.0,256.0,292.0,1237.0,346.0,324.0,...,1191.0,1290.0,515.0,1346.0,1421.0,341.0,447.0,819.0,660.0,375.0
AĞRI,965.0,648.0,1311.0,NaN,738.0,1055.0,1432.0,397.0,1645.0,1571.0,...,369.0,426.0,1173.0,310.0,143.0,1363.0,1104.0,815.0,878.0,1192.0
AMASYA,611.0,634.0,590.0,738.0,NaN,334.0,826.0,695.0,932.0,833.0,...,800.0,982.0,435.0,779.0,848.0,625.0,366.0,666.0,629.0,454.0

In [344]:
def check_symmetric(a, rtol=1e-05, atol=1e-08):
    import numpy
    return numpy.allclose(a, a.T, rtol=rtol, atol=atol)

check_symmetric(city_df.values) # Matrix is not symmetric

False

In [345]:
# Change city names with city codes.

city_names = df.index

city_df.index = np.arange(1,82)
city_df.columns = np.arange(1,82)

In [346]:
# Keep city_code - city_name pairs

city_code_dict = dict(zip(np.arange(1,len(city_names)+1),city_names))

In [347]:
# Select 15 cities

cities = np.random.choice(np.arange(1,82),15, replace=False)

In [348]:
costs = city_df.copy()
max_cost = costs.max().max()
costs = costs.fillna(100*max_cost)
n = len(cities)

In [349]:
cost = costs.loc[cities,cities]

In [350]:
#Define model objective, variables and constraints

prob = LpProblem(name="TSP_TR_Problem", sense=LpMinimize)


roads = [(i,j) for i in cities for j in cities]

variables = LpVariable.dicts("Road", (cities, cities), 0, 1, LpInteger) # Arc Variables

nodes = {}

for i in cities:  # Order Variables
    nodes[i] = LpVariable(f'u{i}', 1, len(cities), LpInteger)

In [351]:
# The objective function is added to 'prob' first
prob += (
    lpSum([variables[i][j] * cost.loc[i,j] for (i, j) in roads]),
    "Sum_of_Transporting_Costs",
)

In [352]:
# Vehicles should exit from the city exactly once
for i in cities:
    prob += (lpSum([variables[i][j] for j in cities]) >= 1,
             "Exit_From_City_%s" %i
            )

In [353]:
# Vehicles should enter the city exactly once
for i in cities:
    prob += (
        lpSum([variables[j][i] for j in cities]) >= 1,
        "Enter_To_City_%s" % i,
    )

In [354]:
# Subtour Constraints
for (i,j) in product(cities, cities):
    if (i!=cities[0]) and (j!=cities[0]):
        prob+=(
        nodes[i] - nodes[j] + (n-1)*variables[i][j] + (n-3)*variables[j][i] <= n-2, f"{i}_{j}_subtour_constraint")

In [355]:
# # Subtour Constraints
# for (i,j) in product(cities, cities):
# #    if (i!=j):
#         prob+=(
#         nodes[i] - nodes[j] + (n-1)*variables[i][j] + (n-3)*variables[j][i] <= n-2, f"{i}_{j}_subtour_constraint")

In [357]:
import time

In [358]:
start = time.time()

prob.solve()

print(time.time()-start, "seconds passed")

5.953231573104858 seconds passed

In [359]:
LpStatus[prob.status]

'Optimal'

In [389]:
final_result = []

In [390]:
t=0
for v in prob.variables():
    if v.varValue==1:
        final_result.append(v.name)

In [391]:
final_result

['Road_23_44',
 'Road_25_62',
 'Road_27_80',
 'Road_2_63',
 'Road_34_54',
 'Road_39_34',
 'Road_44_2',
 'Road_48_39',
 'Road_51_48',
 'Road_54_78',
 'Road_62_23',
 'Road_63_27',
 'Road_71_25',
 'Road_78_71',
 'Road_80_51',
 'u63']

In [392]:
source = []
destination = []
final_pairs = []

In [393]:
for i in final_result:
    if len(i)>5:
        a, b, c = i.split('_')
        source.append(b)
        destination.append(c)
        
for i in final_result:
    if len(i)>5:
        a, b, c = i.split('_')
        final_pairs.append([b,c])

In [367]:
# Check if there exist a loop arc

for i in range(0,len(source)):
    if source[i]==destination[i]:
        print('Loop arc exists')

In [368]:
print("# of source cities: ", len(set(source)))
print("# of destination cities: ", len(set(destination)))

# of source cities:  15
# of destination cities:  15

In [394]:
source

['23',
 '25',
 '27',
 '2',
 '34',
 '39',
 '44',
 '48',
 '51',
 '54',
 '62',
 '63',
 '71',
 '78',
 '80']

In [395]:
destination

['44',
 '62',
 '80',
 '63',
 '54',
 '34',
 '2',
 '39',
 '48',
 '78',
 '23',
 '27',
 '25',
 '71',
 '51']

In [396]:
final_pairs

[['23', '44'],
 ['25', '62'],
 ['27', '80'],
 ['2', '63'],
 ['34', '54'],
 ['39', '34'],
 ['44', '2'],
 ['48', '39'],
 ['51', '48'],
 ['54', '78'],
 ['62', '23'],
 ['63', '27'],
 ['71', '25'],
 ['78', '71'],
 ['80', '51']]

In [436]:
final_sequence = [23,44,2,63,27,80,51,48,39,34,54,78,71,25,62,23]

# Visualization on the map

In [252]:
# api_key
api_key = 'AIzaSyAsvARN081dfw2VDq2MaTBPb8PgAc3jiB8'

html = 'https://roads.googleapis.com/v1/snapToRoads?path=-35.27801,149.12958|-35.28032,149.12907|-35.28099,149.12929|-35.28144,149.12984|-35.28194,149.13003|-35.28282,149.12956|-35.28302,149.12881|-35.28473,149.12836 &interpolate=true &key=AIzaSyAsvARN081dfw2VDq2MaTBPb8PgAc3jiB8'

In [251]:
import urllib.request